<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
  	<div class="navbar-form navbar-left">
  		<img class="logo" src="<%= image_url "qoverflow_logo.png" %>">
  	</div>
    <form class="navbar-form navbar-right" role="search">
    <% if user_signed_in? %>
      <a class="btn btn-default botones-a botones-b" role="button" href="<%= url_for(destroy_user_session_path)%>" data-method="delete"> Salir del Sistema</a>
    <% else %>
        <a class="btn btn-default botones-a botones-b" role="button" href="<%= new_user_session_path %>">Ingresar</a>
        <a class="btn btn-default botones-a botones-b" role="button" href="<%= new_user_registration_path %>">Registrarse</a>
    <% end %>
    	
      <div class="form-group botones-a">
        <%= form_tag(questions_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Buscar" %>
        <%= submit_tag "Search", name:nil, :style => "display: none;" %>
        <% end %>
        
      </div>     
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
      <img class="logo1" src="<%= image_url "preguntas.png" %>">
      
       <div class="pull-right" style="margin-right: 60px;">
       <p><a class="btn btn-primary" href="/questions/new" role="button">Ingresar una pregunta</a></p>
       </div> 
  </div> 

 <table class="table">
  <% @question.each do |q| %>
  
    <tr>
      <td><h4 class="orange"> <%= q.answers.count %></h4>
      <p><h4 class="centrado"><small>Votos</small></h4></p>
      </td>
      <td><h4 class="orange"><%= q.answers.count %></h4> 
      <p><h4 class="centrado"><small>
      Respuestas</small></h4></p>
      </td>
      <td><h4> <%= link_to q.titulo, q %> </h4>
        <p>
          <h4><small>Preguntó <%= q.user.email %> hace <% dife = (Time.now - q.created_at).to_i %>
          <% if (dife > 31536000) %>
            <%= (dife/31536000).to_i %> años
          <% else %>
            <% if (dife > 2592000) %>
              <%= (dife/2592000).to_i %> meses
              <% else %>
                <% if (dife > 86400) %>
                  <%= (dife/86400).to_i %> días
                  <% else %>
                  <% if (dife > 3600) %>
                    <%= (dife/3600).to_i %> horas
                  <% else %>
                    <% if (dife > 60) %>
                    <%= (dife/60).to_i %> minutos
                    <% else %>
                    <%= dife %> segundos
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
          <% end %>
          
          </small></h4>
        </p>
      </td>
    </tr>
  
<% end %>
</table>
      
          
     
  
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="piecito">
    <p>____________________________________________</p>
  <p><a href="http://www.monkodev.com" target="_blank"><img class="logofondo" src="<%= image_url "monkodevlogo.png" %>"> Powered by Monkodev.com</a></p>
  </div>
</nav>