<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
  	<div class="navbar-form navbar-left">
  		<img class="logo" src="<%= image_url "qoverflow_logo.png" %>">
  	</div>
    <form class="navbar-form navbar-right" role="search">
    <% if user_signed_in? %>
      <a class="btn btn-default botones-a botones-b" role="button" href="<%= url_for(destroy_user_session_path)%>" data-method="delete"> Salir del Sistema</a>
    <% else %>
        <a class="btn btn-default botones-a botones-b" role="button" href="<%= new_user_session_path %>">Ingresar</a>
        <a class="btn btn-default botones-a botones-b" role="button" href="<%= new_user_registration_path %>">Registrarse</a>
    <% end %>
    	   
    </form>
  </div>
</nav>
<% flash.each do |name, msg| -%>
<div class="alert alert-info">
      <%= content_tag :div, msg, class: name %>
</div>
<% end -%>
<div class="container">
  <div class="row">
  <p><a class="btn btn-primary btn-sm" href="/" role="button">Volver</a></p>
  </div>
  <div class="row">
    <div class="col-sm-10">
    <div class="panel panel-heading">
    <div class="panel-title">
      <h3 class="style_text_title"><img class="logo2" src="<%= image_url "brain.png" %>"><%= @question.titulo %></h3>
      </div>
      <div class="row">
        <div class="col-sm-1 pregunta5 centrado">

          <% if @question.qvotada? current_user %>
                      <%= link_to question_votequestion_path(@question), method: :delete, class: "product-upvote upvote-active" do %>
                        <span class="upvote-arrow"></span>
                        <span class="upvote-count"><%= @question.votequestions.count %></span>
                      <% end %>
                    <% else %>
                      <%= link_to question_votequestions_path(@question), method: :post, class: "product-upvote" do %>
                        <span class="upvote-arrow"></span>
                        <span class="upvote-count"><%= @question.votequestions.count %></span>
                      <% end %>
          <% end %>

        </div>
         <div class="col-sm-9">
            <p><%= markdown(@question.descripcion) %></p>

            <footer class="blockquote-footer"><small> Pregunt贸 <%= @question.user.email %> el <%= @question.created_at.strftime("%d/%m/%Y a las %I:%M%p") %></small></footer>
          </div>
      </div>
      
     
      </div> 
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11 pregunta">
           <% @question.comequestions.each do |cq| %>
        <div class="panel pregunta"><%= markdown(cq.descripcion) %> <small>coment贸 <%= cq.user.email %></small></div>    
      <% end %> 
      <% if signed_in? %>
        <%= form_for [@question, @question.comequestions.build] do |f| %>
          <div class="form-group pregunta">
            <%= f.text_area :descripcion, class: "form-control", placeholder: "Ingresa tu comentario ..." %>
          </div>
         
          <div class="actions text-right">
            <%= f.submit "Comentar", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>  
        </div>
      </div>
     
      <div class="blankspace2"></div>
      <div class="panel panel-default pregunta">
        <div class="panel-heading blankspace3">
        <div class="col-sm-4">
          <strong><%= @question.answers.count %> Respuesta(s)</strong>
        </div>
        <div class="col-sm-8 right_side">
            Contribuye con tu conocimiento  ...  <span class="label label-danger">Responde ya esta pregunta!</span>
        </div></div>
      </div>
      <div class="row">
          <% @question.answers.each do |ca| %>
            <div class="col-sm-1 pregunta">
              
              <% if ca.avotada? current_user %>
                      <%= link_to question_voteanswer_path(ca), method: :delete, class: "product-upvote upvote-active" do %>
                        <span class="upvote-arrow"></span>
                        <span class="upvote-count"><%= ca.voteanswers.count %></span>
                      <% end %>
                    <% else %>
                      <%= link_to question_voteanswers_path(ca), method: :post, class: "product-upvote" do %>
                        <span class="upvote-arrow"></span>
                        <span class="upvote-count"><%= ca.voteanswers.count %></span>
                      <% end %>
          <% end %>
            </div>
             <div class="col-sm-10 panel">
                  <div class="panel panel-default">
                    <div class="panel-body panelito">
                        <%= markdown(ca.descripcion) %> <small>respondi贸 <%= ca.user.email %></small>
                    </div>
                  </div>
             </div>   
             <div class="col-sm-1"> </div>
              <div class="col-sm-10">
              
                       <% ca.comeanswers.each do |cca| %>
                    <div class="panel pregunta"><%= markdown(cca.descripcion) %> <small>coment贸 <%= cca.user.email %></small></div>    
                  <% end %>  


              </div>
              <div class="row espacia2">
              <div class="col-sm-1"> </div>
              <div class="col-sm-10 col-sm-offset-2 derecha">
              
                    <% if signed_in? %>
                        <%= form_for [@question,ca, ca.comeanswers.build] do |cab| %>
                        <div class="form-group pregunta">
                            <%= cab.text_area :descripcion, class: "form-control", placeholder: "Comentar esta respuesta" %></ br>
                        </div>

                        <div class="actions text-right">
                            <%= cab.submit "Comentar", class: "btn btn-primary" %>
                        </div>
                        <% end %>
                    <% end %> 
                  </div>

                </div>

            <% end %> 
              <div class="blankspace2"></div></ br>
            </div>
          
          <% if signed_in? %>
              <%= form_for [@question, @question.answers.build] do |f| %>
              <div class="form-group pregunta">
                  <%= f.text_area :descripcion, class: "form-control", placeholder: "Ingresa tu respuesta ..." %>
              </div>

              <div class="actions text-right">
                  <%= f.submit "Publicar respuesta", class: "btn btn-danger" %>
              </div>
              <% end %>
          <% end %>  
    
      <div class="blankspace"></div>
    </div>      
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="piecito">
    <p>____________________________________________</p>
  <p><a href="http://www.monkodev.com" target="_blank"><img class="logofondo" src="<%= image_url "monkodevlogo.png" %>"> Powered by Monkodev.com</a></p>
  </div>
</nav>